
footer{ 
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span{    
    font-size: 0.8em;                                               /*diminuir tamanho da fonte*/
    font-weight: 200;                                               /*diminuir o peso [espessura] da fonte*/
}


/*Feito por Marcio Lenes 19/12/2022*/